h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

@font-face {
    font-family: "Lukazellig";
    src: url('./assests/fonts/sitelen_Lukasele_Majeka.otf') format('opentype');
}

@font-face {
    font-family: "Ilozellig";
    src: url('./assests/fonts/sitelen-Ilosele.otf') format('opentype');
}

@font-face {
    font-family: "Towitela";
    src: url('./assests/fonts/linja_Majeka_pi_toki_tokiB4.otf') format('opentype');
}

.Lukazellig {
    font-family: 'Lukazellig', serif;
}

.Ilozellig {
    font-family: 'Ilozellig', sans-serif;
    font-size: 20px;
}

.Towitela {
    font-family: 'Towitela', serif;
    font-size: 30px;
}
