@font-face {
    font-family: 'Lukazellig', serif;
    src: url('https://github.com/yan-Mayeka/yan-Mayeka.github.io/blob/0743e147f0eeed6f44d1e6ea8db40ea33c496ec4/assests/fonts/sitelen_Lukasele_Majeka.otf') format('otf');
            }

.Lukazellig {
    font-family: 'Lukazellig', serif;
}
